<div class="todoList">
  <div
    class="todoUncompleted"
    (dragover)="onDragOver($event)"
    (drop)="onDrop($event, currentTodo, false)"
  >
    @for (todo of todos; track todo.taskId) {
      @if (!todo.isComplete) {
        <app-todo-item
          [content]="todo.content"
          [taskId]="todo.taskId"
          [isComplete]="todo.isComplete"
          (drag)="onDrag($event, todo)"
          (dragstart)="onStart($event, todo)"
          (dragend)="onDragEnd($event)"
          (mouseenter)="onMouseEnter($event, todo)"
          (touchstart)="onMouseEnter($event, todo)"
          (drop)="reArrangeDrop($event, todo)"
          draggable="true"
        />
      }
    }
  </div>
  <div [className]="show">
    <hr (click)="handleShow()" />
    <div [className]="todoCompleted" (dragover)="onDragOver($event)">
      @for (todo of todos; track todo.taskId) {
        @if (todo.isComplete) {
          <app-todo-item
            [content]="todo.content"
            [taskId]="todo.taskId"
            [isComplete]="todo.isComplete"
            (drag)="onDrag($event, todo)"
            (dragstart)="onStart($event, todo)"
            (dragend)="onDragEnd($event)"
            (drop)="onDrop($event, currentTodo, true)"
            (mouseenter)="onMouseEnter($event, todo)"
            (touchstart)="onMouseEnter($event, todo)"
            (drop)="reArrangeDrop($event, todo)"
            draggable="true"
          />
        }
      }
    </div>
  </div>
</div>
