<div class="todoList">
  <div class="todoUncompleted">
    @for (todo of todos; track todo.taskId) {
      @if (!todo.isComplete) {
        <app-todo-item
          [content]="todo.content"
          [taskId]="todo.taskId"
          [isComplete]="todo.isComplete"
        />
      }
    }
  </div>
  <div [className]="show">
    <hr (click)="handleShow()" />
    <div [className]="todoCompleted">
      @for (todo of todos; track todo.taskId) {
        @if (todo.isComplete) {
          <app-todo-item
            [content]="todo.content"
            [taskId]="todo.taskId"
            [isComplete]="todo.isComplete"
          />
        }
      }
    </div>
  </div>
</div>
