.toast-container {
  position: absolute;
  top: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 0.5rem;
}

.toast {
  border-radius: 0.25em;
  font-size: 1.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 6rem;
  width: 23rem;
  margin-top: 1rem;
  padding-left: 1.5rem;
  z-index: 1000;
  background-color: var(--done-color);
  filter: opacity(0.95);
  border-left: 0.5rem solid var(--checkbox-bg-color);
  animation: toast-animation 500ms;
  animation-timing-function: cubic-bezier(0.95, 0.05, 0.795, 0.035);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  i {
    position: absolute;
    left: 1.5rem;
    padding-right: 2.5rem;
  }
}
.error {
  background-color: rgb(238, 70, 70);
  color: var(--input-background);
  border-left: 0.5rem solid rgb(173, 0, 0);
}
.alert {
  background-color: rgb(233, 225, 109);
  border-left: 0.5rem solid rgb(235, 219, 8);
}

@keyframes toast-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.95;
  }
}
